@import './font';
$white:white;

  *, ::before, ::after {
      box-sizing: border-box;
  }

html, body {
    height: 100%vh;
    padding: 0;
    margin: 0;
    background:rgb(242, 237, 233);
}
// ----- homepage navbar desktop ----- //
header {
    width: 100%;
    height: 200px;
    
}
.home-logo-supro-nav {
    position: relative;
    left: 50px;
}
.home-menu-nav, ul {
    position: relative;
    top: 40px;
    left: 30px;
    
    max-width: 200px;
    margin-left: 130px;
    margin-right: 250px;
}

 header .home-menu-nav, li   {
    display: inline;
    right: 100px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-weight: 500;
    }
header {
   ul{
       li{
           a{
            text-decoration: none;
            color: $black;
            }
        }
   }
}
header .home-ico-nav, ul {
    display: inline-block;
    left: 590px;
    top:-30px;
    margin: 0;
    padding: 0;
}
header .home-logo-supro-nav, img {
    position: relative;
    top:50px ;
}
#text, input[type="search"] {
     border: 1px solid $orange;
     position: relative;
     right: -550px;
     top: 15px;
     height: 30px;
     width: 200px;
     border-radius: 20px;
     background: url(/images/homepage/resources/search.ico) right no-repeat ;
     background-size: 20px;
     margin-left: 25%;
     opacity: 0.4;
    }
::placeholder {
     color: $grey;
     background:$white;
     padding: 10px;
     font-size: 1.2em;
     opacity: 1;
     font-family:'Roboto', sans-serif;
     font-weight: 500;
    }
    /*------- homepage desktop section1-------*/
.home-part1{
    margin-left: 20px;
    margin-right: 50px;
    display: grid;
    grid-template-rows:350px;
    grid-template-columns: 100px 500px auto;
}
.home-ico-sect1 {
    text-align: center;
    position: relative;
    top: 50px;
    margin: 0;
    line-height: 1.5;
}

.home-deux {
    background-image: url(/images/homepage/resources/abc.jpg) ;
    background-size: 1000px;
    background-repeat: no-repeat;
}
.home-sect1-text1 {
    color: $orange;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 5px;
    margin-top: 50px;
    margin-left: 100px;
}
.home-sect1-text2 {
    font-size: 4.2em;
    font-weight: 900;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;
    letter-spacing: 0.9px;
}
.home-sect1-text4 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    letter-spacing: 0.1em;
    font-weight:800 ;
    padding: 5px;
    position: relative;
    right:-698px;
    top: -90px;
    display: inline;
}
.home-sect1-text4, a {
     text-decoration: underline;
     color: $black;
     span{
        display:inline-block;
        border-bottom:2px solid black;
        padding-bottom:2px;
    }
}
/*------ homepage desktop section2--------*/
.home-part2 {
        display: grid;
        grid-template-columns: 1.2fr 1.2fr 1.2fr;
        grid-template-rows: 260px;
        margin-top: 80px;
       
       
}

.home-img1-sect2 {
    background-image: url(/images/homepage/resources/banner_h1_1.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}
.home-txt1-img1-sect2{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size:2.1em ;
    position: relative;
    top: 30%;
    left: 30px;
}
.home-txt2-img1-sect2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size:2.1em ;
    position: relative;
    top: 28%;
    left:30px ;
}
.home-discover-img1-sect2 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    letter-spacing: 0.1em;
    font-weight:800 ;
    position: relative;
    top: 40%;
    left:30px ;
     a{
         color: $black;
         text-decoration:underline;
         span{
            display:inline-block;
            border-bottom:2px solid black;
            padding-bottom:2px;
        }
     }
    
}

.home-img2-sect2 {
    background-image: url(/images/homepage/resources/banner_h1_2.jpg);
    background-position: center;
    background-size:400px ;
  
}
.home-txt1-img2-sect2 {
    color: $white;
    position: relative;
    top: 25%;
    left: 42%;
    font-size: 0.7em;
    font-weight: 500;
}
.home-txt2-img2-sect2 {
    font-size: 1.8em;
    letter-spacing:0.3px;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1em;
    position: relative;
    left: 35%;
    top: 29%;
}
.home-txt3-img2-sect2 {
    font-size: 2em;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    top:27% ;
    left:35% ;
}

.home-img3-sect2 {
    background-image: url(/images/homepage/resources/banner_h1_3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.home-discover-img2-sect2 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    letter-spacing: 0.1em;
    font-weight:800 ;
    position: relative;
    top: 40%;
    left: 40%;
    a{
        color: $white;
        span{
            display:inline-block;
            border-bottom:2px solid $white;
            padding-bottom:2px;
        }
     }
 }
.home-txt1-img3-sect2 {
    position: relative;
    left: 60%;
    top: 22%;
    color: $black;
    opacity: 0.4;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    font-weight: 500;
}
.home-txt2-img3-sect2 {
    position: relative;
    left:60%;
    top:26%;
    font-size:2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.home-txt3-img3-sect2 {
    position: relative;
    left:60%;
    top:24%;
    font-size:2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
.home-discover-img3-sect2 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    letter-spacing: 0.1em;
    font-weight:800;
    position: relative;
    top: 35%;
    left:62% ;
        a {
            color: $black;
            span{
                display:inline-block;
                border-bottom:2px solid black;
                padding-bottom:2px;
            }
        }
}
        /* ---- homepage desktop section 3 ----*/
.home-part3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    
}
.txt1-topSellers-sect3 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: relative;
    left: 17%;
    top: 50px;
}
.txt2-topSellers-sect3 {
    position: relative;
    left:17%;
    top: -100%; 
    color: $grey;
    font-size: 0.7em;
    font-family: 'Roboto', sans-serif;
    
}
/* ----- homepage desktop section 4 ----- */
 .home-part4 {
     display: grid;
     grid-template-columns: 1fr 1.3fr;
     grid-template-rows: 350px;
     margin: 0 auto;
 }
.home-img1-sect4 {
      
      background-image: url(/images/homepage/resources/bsl1.jpg);
      background-size: 200px;
      background-repeat: no-repeat;
      background-position: top 48% left 80%;
}


.home-txt1-img1-sect4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    position: relative;
    top: 73%;
    left: 55%;
}
.home-txt2-img1-sect4 {
        position: relative;
        top: 76%;
        left: 55%;
        color: $grey;
        font-weight: 500;
}
.home-txt3-img1-sect4 {
    position: relative;
    top: 80%;
    left: 55%;
    font-size: 0.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    letter-spacing: 0.1em;
        a {
            text-decoration: none;
            span{
                display:inline-block;
                border-bottom:2px solid $black;
                padding-bottom:2px;
            }
        }
}
.home-img2-sect4 {
   
    background-image: url(/images/homepage/resources/bsl2.jpg);
    background-size: 350px 350px;
    background-repeat: no-repeat;
    background-position:top 10% left 22%;
}
.home-txt1-img2-sect4, .home-txt2-img2-sect4, .home-txt3-img2-sect4   {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    font-weight: 700;
    position: relative;
    top: 13%;
    
}

.home-txt4-img2-sect4 {
    position: relative;
    top: 17%;
    color:$grey;
    font-weight: 500;
}
.home-txt5-img2-sect4 {
    font-size: 0.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    letter-spacing: 0.1em;
    position: relative;
    top: 28%;
}
        /* ----  section 5 ------*/
.home-part5 {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 500px;
}
.home-sect5-img1 {
   
    background-image: url(/images/homepage/resources/bsl3.jpg);
    background-size: 350px 350px;
    background-repeat: no-repeat;
    background-position: top 65% left 100%;
}

.home-sect5-img2 {
   
    background-image: url(/images/homepage/resources/bsl4.jpg);
    background-size:200px;
    background-repeat: no-repeat;
    background-position: top 50% left 50%;
}
.home-sect5-img1-txt1, .home-sect5-img1-txt2, .home-sect5-img1-txt3 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    font-weight: 700;
    position: relative;
    top: 25%;
    left: 33%;
    letter-spacing: 0.2px;
}
.home-sect5-img1-price {
    position: relative;
    top: 30%;
    left: 33%;
    color:$grey;
    font-weight: 500
}
.home-sect5-img1-shopnow {
    font-size: 0.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    letter-spacing: 0.1em;
    position: relative;
    top: 35%;
    left: 33%;
        a {
            span{
                display:inline-block;
                border-bottom:2px solid $black;
                padding-bottom:2px;
            }
        }
}
.home-sect5-img2-txt1, .home-sect5-img2-txt2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    position: relative;
    top: 68%;
    left: 35%;
}
.home-sect5-img2-price  {
    position: relative;
    top: 70%;
    left: 35%;
    color:$grey;
    font-weight: 500
}
.home-sect5-img2-shopnow {
    font-size: 0.6em;
    font-family: 'Roboto', sans-serif;
    font-weight: 550;
    letter-spacing: 0.1em;
    position: relative;
    left:35%;
    top: 75%;
    a {
        span{
            display:inline-block;
            border-bottom:2px solid $black;
            padding-bottom:2px;
        }
    }
}






 

