@import './font';
$white:white;

 *, ::before, ::after {
     box-sizing: border-box;
 }

html, body {
    height: 100%vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background:rgb(242, 237, 233);

    
}
// -----  debut barre navbar homepage ----- //
header {
    width: 100%;
    height: 200px;
    
}
.home-logo-supro-nav {
    position: relative;
    left: 50px;
}



.home-menu-nav, ul {
    position: relative;
    top: 40px;
    left: 30px;
    
    max-width: 200px;
    margin-left: 130px;
    margin-right: 250px;
}

 header .home-menu-nav, li   {
    display: inline;
    right: 100px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-weight: 500;
    }
header {
   ul{
       li{
           a{
               text-decoration: none;
               color: $black;
           }
       }
   }
}
 
    
      

  



header .home-ico-nav, ul {
    display: inline-block;
    left: 590px;
    top:-30px;
    margin: 0;
    padding: 0;
}
header .home-logo-supro-nav, img {
    position: relative;
    top:50px ;
}
#text, input[type="search"] {
     border: 1px solid $orange;
     position: relative;
     right: -550px;
     top: 15px;
     height: 30px;
     width: 200px;
     border-radius: 20px;
     background: url(/images/homepage/resources/search.ico) right no-repeat ;
     background-size: 20px;
     margin-left: 25%;
     opacity: 0.4;
    }
::placeholder {
     color: $grey;
     background:$white;
     padding: 10px;
     font-size: 1.2em;
     opacity: 1;
     font-family:'Roboto', sans-serif;
     font-weight: 500;
    }
   
 

.home-part1{
    margin-left: 20px;
    margin-right: 50px;
    display: grid;
    grid-template-rows:350px;
    grid-template-columns: 100px 500px auto;
   
}

.home-ico-sect1 {
    text-align: center;
    position: relative;
    top: 50px;
    margin: 0;
    line-height: 1.5;
}

.deux {
    
    background-image: url(/images/homepage/resources/abc.jpg) ;
    background-size: 1000px;
    background-repeat: no-repeat;
   
    

}


.home-sect1-text1 {
    color: $orange;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 5px;
    margin-top: 50px;
    margin-left: 100px;
}
.home-sect1-text2 {
    font-size: 4em;
    font-weight: 900;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin-left: 100px;
}



    

.home-sect1-text4 {
      font-family: 'Roboto', sans-serif;
      font-size: 0.6em;
      letter-spacing: 0.1em;
      font-weight:800 ;
      padding: 5px;
      margin-left: 100px;
    }
.home-sect1-text4, a {
        text-decoration: underline;
        color: $black;
    }
