@import './font';

html, body, .grid-container { height: 100%; margin: 0; }

/* Page Contact */

.grid-container-contact {
  display: grid;
  grid-template-columns: 1fr 1.4fr 0.6fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.6fr 1.1fr 2.4fr 0.5fr;
  gap: 1px 1px;
  grid-template-areas: "contactnav contactnav contactnav contactnav contactnav contactnav" "banner banner banner banner banner banner" ". form1 form1 form2 form2 ." ". scrollbox map map map ." "footer footer footer footer footer footer";
}

.contactnav { 
  grid-area: contactnav;
  /*SCC de Tonio pour le nav*/
  width:100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  ul{
    img { 
        float:left;
        position:relative;
        padding-right: 100px;

         }


    li { 

        list-style-type:none;
        float:left;
        position:relative;


    a { 
        padding:20px 30px;
        list-style-type: none;
        text-decoration: none;
        text-align: center;
        color:$black;
        }

    }
}
.contact {
    a{
    color:red;}
}




}
.searching { 
position:relative;
float:right;
padding-left:400px;

opacity: 35%;

.images { 
float:right;
position: relative;
}

.rechercher { 
position:relative;
float:left;
padding-right: 100px;



}

input {
    float:left;
    position:relative;




}
button { 
    position:relative;
    float:right;
    background-color: white;
    text-decoration:none;
    border-left:1px transparent;


}
 }

.banner { 
  grid-area: banner;
  background-color: #3c3c3c;
  text-align: center;
  color: white;
 }

.form1 { 
  grid-area: form1; 
  margin: auto;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-right: 10px;
}

.form2 { 
  grid-area: form2; 
  margin: auto;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 100%;
  margin-left: 10px;
}

.scrollbox { 
  grid-area: scrollbox;
  border: 1px solid #cccccc;
  border-radius: 5px;
  overflow-y: scroll;
  margin-right: 30px;
  margin-top: 60px;
  height: 450px;
 }
.inline{
  display: inline-block;
  position: relative;
}

footer { 
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 100px;
  a{
    color: #8d828d;
    text-decoration:none;
  }
 }

.map { 
  grid-area: map;
  margin-top: 60px;
  margin: auto;
 }

.borderFrom{
  border: 3px #3c3c3c;
}

.container-form1 {
  display: flex;
  flex-wrap: wrap;
}
.container-scrollbox {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #cccccc;
}

.item {
  width: 100%;
  flex: 0 45%;
}

.h5contact{
  border-bottom: 1px solid #cccccc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.marginBottom{
  margin-bottom: 15px;
}

.marginfooter{
margin-right: 500px;
}

.BlackBoutton {
  background-color: black;
  Color:white;
  font-weight: bold;
  padding: 10px 40px;
  border-radius: 3px;
  cursor: pointer; 
  text-decoration: none;
}
.marginLeft{
  margin-left: 10px;
}

/* Page Product */