@import './font';


body { 
    padding-left:100px;
    margin-right:10px;
    background-color:white;
    font-family: 'Roboto', sans-serif;


    nav {
        
        padding-right:10px;
        margin-bottom:10px;
        padding-top: 20px;
        
        padding-bottom: 70px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
       

        ul{  
            img { 
                float:left;
                position:relative;
                padding-right:200px ;
                
            }
                                        
                                
            li { 
                
                list-style-type:none;
                float:left;
                position:relative;
            
            
            a { 
                padding:20px 30px;
                list-style-type: none;
                text-decoration: none;
                text-align: center;
                color:$black;
                }
           
            }
        }
        .shop {  
            a{
            color:red;}
        }

        .searching { 
            position:relative;
            float:right;
            
            
            opacity: 50%;
            
        .images { 
            float:right;
            position: relative;
        }
                    
        .rechercher { 
            position:relative;
            float:left;
            padding-right: 100px;
            
                  
        }
           
        input {
            border-top-left-radius: 35px;
            border-bottom-left-radius: 35px;
            border-right: 1px transparent;
            float:left;
            position:relative;
            height:28px;
          
            
        }
            
        button { 
            position:relative;
            float:right;
            background-color: white;
            text-decoration:none;
            border-left:1px solid transparent;
            border-top-right-radius:35px;
            border-bottom-right-radius: 35px;
            
        }
        
        }       
    }          
           
        
        
    

    
    .submenu {
        margin-left:355px;
        padding:20px 0px;
        display:inline-block;
        
        a {
        text-decoration: none;
        list-style-type: none;
        color:$black;
        text-align: center;
        padding:20px 15px;
        font-size:12px;

        }
    }
    .shoes { 
        height:50px;
        margin-left:368px;
        margin-top: 50px;
        
        

        .titreshoes {
            display: inline-block;
            padding-right:200px;
        }
        
        
           
        
      
        .shopby { 
               display: inline-block;
               margin-left:250px;
               font-size: 20px;
               list-style-type: bold;

        }
        .items { 
            display: inline-block;
            padding-right: 200px;
            
            
        }
        .sort { 
            display: inline-block;

            span{
                opacity: 35%;
            }

        }
            
    }
    
    .articles {
        display: grid;
        grid-template-columns: 300px 300px 300px 300px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 100px 50px;
        margin-left: 262px;
        margin-right: 450px;
        height: 2100px;
        

        .prix {
            opacity: 35%;
            
        }
        .noir, .bleu, .brun {
            padding-bottom: 10px;
        }
        
        .black {
            display:inline-block;
            position:absolute;
            width:20px;
            height:20px;
            background-color:$black;
            border-radius:35px;
            
        }
        
        .textblack {
            margin-left:30px;
            opacity: 35%;
        }
        
        .blue {
            display:inline-block;
            position:absolute;
            width:20px;
            height:20px;
            background-color: blue;
            border-radius:35px;
        }
        
        .textblue {
            margin-left: 30px;
            opacity: 35%;
        }
        
        .brown {
            display:inline-block;
            position:absolute;
            width:20px;
            height:20px;
            background-color: brown;
            border-radius:35px;
        }
        
        .textbrown {
            margin-left: 30px;
            opacity: 35%;
        }
        .xs {
            display:inline-block;
            position:absolute;
            border:1px solid grey;
            padding:10px;
            opacity:35% ;
            width:39.5px;

        
           

        }
        .s {
            display:inline-block;
            position:absolute;
            margin-left: 50px;
            border:1px solid grey;
            padding:10px;
            opacity:35% ;
            width:39.5px;

 
            
        }
        .m {
            display:inline-block;
            position:absolute;
            margin-left: 100px;
            border:1px solid grey;
            padding:10px;
            opacity:35% ;
            width:39.5px;
        }
        .price { 
            margin-top: 100px;
            padding-top:10px;
        }
        .prix {
            padding-top:15px;
        }
        .scroller { 
            
                            
                           
            scrollbar { 
                opacity: 50%;
                object-position: top;

                #fromPrice { 
                    color:$orange;
                    width: 263px;
                    scrollbar-color: $orange;
                    text-decoration: $orange;
                    
                }

            }
            
                   
            img { 
            padding-top:2px;
            }

            


        }        
       
        .brand { 

            input {
                
                margin:5px;
                margin-left:155px;
            }
            label {
                width:65px;
                opacity: 35%;
            }
            .creative { 
                margin-left: 161px;
            }

            .compare{ 
                padding-top: 50px;
            }
            p{
                opacity: 35%;
            }
            
        }  

       
        .blueshort {
            display:inline-block;
            position:absolute;
            width:15px;
            height:15px;
            background-color: blue;
            border-radius:35px;
            margin-left:25px;
        }
        .blackshort {
            display:inline-block;
            position:absolute;
            width:15px;
            height:15px;
            background-color: black;
            border-radius:35px;
        }
        .mxs {
            display:inline-block;
            background-color:lightgrey;
            border-radius: 30px;
            font-size: 14px;
            opacity: 60%;
        }
    } 

    .numeropage {
        display:inline-block ; 
        position:relative;
        padding-left:675px;
        width:159px;

        a { 
            text-decoration: none;
            list-style-type: none;
            color:black;
            padding:20px 10px;

            span { 
                 
                 border-bottom: 2px solid black;
                 padding-bottom:2px;
            }
        }
                  
            .next {
                margin-left: -70px;
                margin:0px;
                float:right;
                position: relative;
                padding:0px;
                border-radius: 10px;
                bottom:5px;
                opacity: 50%;
            }
            
    }
        
    
    
    
    footer { 
        grid-area: footer;
        display: flex;
        flex-wrap: wrap;
        
        padding-top: 300px;
        padding-bottom:50px;
        margin-left: 450px;

        
        a{
          color: #8d828d;
          text-decoration:none;
          text-align: center;
          padding-right:10px;
                  }
        .footerimg {
            padding-left:500px;
        }
   
    }
}

@media screen and (min-width: 301px) and (max-width: 768px) { 
    body {
        margin:0px;
        padding:0px;
        width:100%;

        nav {
            padding-right:0px;
            margin-bottom:0px;
            padding-top: 0px;
            
            padding-bottom:60px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
           
    
            ul{  
                img { 
                    float:left;
                    position:relative;
                    padding-right:0px ;
                    margin-left:0px;    
                    
                }
                                            
                                    
                li { 
                    
                    list-style-type:none;
                    float:left;
                    position:relative;
                
                
                    a { 
                        
                        padding:20px 20px;
                        list-style-type: none;
                        text-decoration: none;
                        text-align: center;
                        color:$black;
                    }
               
                }
            }
            
            .shop {  
                a{
                    color:red;}
            }
        
                  

            .searching { 
                position:relative;
                float:right;
                margin-left:0px;
                padding-left:200px;
                padding-top: 26px;

                
            
                opacity: 50%;
            
                .images { 
                    float:right;
                    position: relative;
                }
                    
                .rechercher { 
                    position:relative;
                    float:left;
                    padding-right:0px;
            
                  
                }
            }
        }
        
    .shoes { 
        display:none;
    }
    .submenu { 
        margin-left:0px;
    }
    
   


    .articles {
        display: grid;
        grid-template-columns: 150px 150px 150px 150px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 100px 25px;
        margin-left:0px;
        margin-right:0px;
        height: 2100px;

        .row4 { 

            grid-row-start: 5;
        }
    }
        
    .footer { 
        
        display: inline-block;
        
            
        padding-top: 5px;
        padding-bottom:5px;
        margin-left: 5px;
    
            
        a{
          color: #8d828d;
          text-decoration:none;
          text-align: center;
          padding-right:10px;
          }
        .footerimg {
            padding-left:350px;
        }
        .brand {
            display:none;
        
        }
       
    }
    
    }
}




