@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*, ::before, ::after {
  box-sizing: border-box; }

html, body {
  height: 100%vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f2ede9; }

header {
  width: 100%;
  height: 200px; }

.home-logo-supro-nav {
  position: relative;
  left: 50px; }

.home-menu-nav, ul {
  position: relative;
  top: 40px;
  left: 30px;
  max-width: 200px;
  margin-left: 130px;
  margin-right: 250px; }

header .home-menu-nav, li {
  display: inline;
  right: 100px;
  font-family: 'Roboto', sans-serif;
  padding: 5px;
  font-weight: 500; }

header ul li a {
  text-decoration: none;
  color: #222; }

header .home-ico-nav, ul {
  display: inline-block;
  left: 590px;
  top: -30px;
  margin: 0;
  padding: 0; }

header .home-logo-supro-nav, img {
  position: relative;
  top: 50px; }

#text, input[type="search"] {
  border: 1px solid #f68773;
  position: relative;
  right: -550px;
  top: 15px;
  height: 30px;
  width: 200px;
  border-radius: 20px;
  background: url(/images/homepage/resources/search.ico) right no-repeat;
  background-size: 20px;
  margin-left: 25%;
  opacity: 0.4; }

::placeholder {
  color: #999;
  background: white;
  padding: 10px;
  font-size: 1.2em;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 500; }

/*------- homepage desktop section1-------*/
.home-part1 {
  margin-left: 20px;
  margin-right: 50px;
  display: grid;
  grid-template-rows: 350px;
  grid-template-columns: 100px 500px auto; }

.home-ico-sect1 {
  text-align: center;
  position: relative;
  top: 50px;
  margin: 0;
  line-height: 1.5; }

.home-deux {
  background-image: url(/images/homepage/resources/abc.jpg);
  background-size: 1000px;
  background-repeat: no-repeat; }

.home-sect1-text1 {
  color: #f68773;
  font-family: 'Roboto', sans-serif;
  font-size: 0.6em;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 5px;
  margin-top: 50px;
  margin-left: 100px; }

.home-sect1-text2 {
  font-size: 4.2em;
  font-weight: 900;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  margin-left: 100px;
  letter-spacing: 0.9px; }

.home-sect1-text4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.6em;
  letter-spacing: 0.1em;
  font-weight: 800;
  padding: 5px;
  margin-left: 100px; }

.home-sect1-text4, a {
  text-decoration: underline;
  color: #222; }

/*------ homepage desktop section2--------*/
.home-part2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  margin-top: 80px; }

.home-img1-sect2 {
  border: 1px solid #222;
  background-image: url(/images/homepage/resources/banner_h1_1.jpg);
  background-position: right;
  background-size: 480px;
  background-repeat: no-repeat; }

.home-txt1-img1-sect2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  position: relative;
  top: 50px;
  left: 30px; }

.home-txt2-img1-sect2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  position: relative;
  top: 45px;
  left: 30px; }

.home-discover-img1-sect2 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.6em;
  letter-spacing: 0.1em;
  font-weight: 800;
  position: relative;
  top: 90px;
  left: 30px; }

.home-img2-sect2 {
  border: 1px solid #222;
  background-image: url(/images/homepage/resources/banner_h1_2.jpg);
  background-position: center;
  background-size: 400px; }

.home-txt1-img2-sect2 {
  color: white;
  position: relative;
  top: 65px;
  left: 180px;
  font-size: 0.7em;
  font-weight: 500; }

.home-txt2-img2-sect2 {
  font-size: 2em;
  letter-spacing: 0.3px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1em;
  position: relative;
  left: 132px;
  top: 75px; }

.home-txt3-img2-sect2 {
  font-size: 2em;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  position: relative;
  top: 68px;
  left: 145px; }

.home-img3-sect2 {
  border: 1px solid #222;
  background-image: url(/images/homepage/resources/banner_h1_3.jpg);
  background-size: 478px;
  background-repeat: no-repeat; }

.home-discover-img2-sect2 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.5em;
  letter-spacing: 0.1em;
  font-weight: 800;
  position: relative;
  top: 108px;
  left: 180px; }
  .home-discover-img2-sect2 a {
    color: white; }
